{% extends 'main.html' %}

{% block content %}

<body>
    <hr>

    <div align="center"><a class="main_button" href="{% url 'startpage' %}" title="Все объявления"><h3 style="text-align: center;"><strong>На главную страницу</strong></h3></a></div>
    <br>

</body>

<form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>


{% if comment_list %}
    {% for i in comment_list %}
        <p>{{ i.created|date:'d.m.y' }}</p>
        <p>{{ i.text }}</p>
        <p>Статус: {{ i.get_status_display }}</p>
        <p>Отклик на "{{ i.post.title }}" от пользователя {{ i.user }}</p>
        {% if i.status == 'wait' %}
            <a href="{% url 'accept' i.id %}">Принять</a>
            <a href="{% url 'reject' i.id %}">Отклонить</a>
        {% endif %}
        <hr>
    {% endfor %}
{% else %}
    Откликов нет
{% endif %}

{% endblock content %}